<nav class="bg-red-500 py-3 shadow-md">
    <div class="max-w-5xl mx-auto flex items-center gap-8 px-4">
        <a href="/"
            class="<%= currentPage === 'Home' ? 'underline' : 'hover:underline' %> text-white font-medium ">Home</a>
        <a href="/host/add-home"
            class="<%= currentPage === 'addHome' ? 'underline' : 'hover:underline' %>  text-white font-medium ">Add
            Home</a>
    </div>
</nav>