<%- include('../partials/head') %>
    </head>
    <body>
        <%- include('../partials/nav') %>

            <!-- â­ Centered Welcome Card -->
            <div class="flex items-center justify-center mt-5 px-4">
                <div class="bg-white px-10 py-8 rounded-xl shadow-lg text-center">
                    <h1 class="text-3xl font-bold text-red-500 mb-4">
                        Booking
                    </h1>
                    <p class="mb-5">
                       Bookings will appear here!!
                    </p>

                </div>
            </div>
            <!-- <header>
        <h1> 404 Your page is not found on airbnd !!</h1>
    </header> -->
    </body>

    </html>