<%- include('partials/head') %>
    </head>

    <body>

        <%- include('partials/nav') %>

            <!-- â­ Centered Welcome Card -->
            <div class="flex items-center justify-center mt-20 px-4">
                <div class="bg-white px-10 py-8 rounded-xl shadow-lg text-center">
                    <h1 class="text-3xl font-bold text-red-500 mb-4">
                        404
                    </h1>
                    <p class="mb-5">
                        opps! Page Not Found
                    </p>

                    <a href="/" class="inline-block bg-red-500 text-white px-5 py-2 rounded-lg 
          font-medium hover:bg-red-600 transition">
                        Go Back Home
                    </a>
                </div>
            </div>
            <!-- <header>
        <h1> 404 Your page is not found on airbnd !!</h1>
    </header> -->
    </body>

    </html>