<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/public/style.css"> -->
    <link rel="stylesheet" href="/public/output.css">
    <title>airbnb Home</title>
</head>

<body>

    <nav class="bg-red-500 py-3 shadow-md">
        <div class="max-w-5xl mx-auto flex items-center gap-8 px-4">
            <a href="/" class="text-white font-medium hover:underline">Go to Home</a>
            <a href="/host/add-home" class="text-white font-medium hover:underline">Add Home</a>
        </div>
    </nav>

    <!-- ⭐ Centered Welcome Card -->
    <div class="flex items-center justify-center mt-20 px-4">
        <div class="bg-white px-10 py-8 rounded-xl shadow-lg">
            <h1 class="text-3xl font-bold text-gray-800">
                Welcome to airbnb
            </h1>
        </div>
    </div>




</body>

</html>